<?xml version="1.0"?>

<model>
  <name>WoodenPalletPile1</name>
  <version>1.0</version>
  <sdf version="1.6">WoodenPalletPile1.sdf</sdf>

  <author>
    <name>Alessio De Luca</name>
    <email>alessio.deluca@iit.it</email>
  </author>

  <description>
    A wooden pallet pile.
  </description>

</model>
